<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirm Employee</title>
</head>
<body>
<h2>Employee Confirmation</h2>

<p th:inline="text">
    First name is: [[${employee.firstName}]]<br>
    Last name is: [[${employee.lastName}]]<br>
    Email address: [[${employee.emailAddress}]]<br>
    Phone number: [[${employee.phoneNumber}]]<br>
    Address: [[${employee.address}]]<br>
    City: [[${employee.city}]]<br>
    State: [[${employee.state}]]<br>
    Zipcode: [[${employee.zipCode}]]<br>

 </p>

</body>
</html>