<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Form</title>
</head>
<body>
<form action="#" th:action="@{/employeeform}" th:object="${employee}" method="post">

<!--     First Name: <input type="text" th:field="*{lastName}" /> <br/> -->
     First Name: <input type="text" th:field="*{firstName}" /> <br/>                <!-- corrected field parameter -->
    Last Name: <input type="text" th:field="*{lastName}" /> <br/>
     Email Address: <input type="text" th:field="*{emailAddress}" /> <br/> 
    Phone Number: <input type="number" th:field="*{phoneNumber}" /> <br/> 
    Address: <input type="text" th:field="*{address}" /> <br/> 
    City: <input type="text" th:field="*{city}" /> <br/> 
    State: <input type="text" th:field="*{state}" /> <br/> 
    Zipcode: <input type="number" th:field="*{zipCode}" /> <br/>

      <input type="submit" value="Submit"/>

</form> <!--added close form tag -->

</body>
</html>